<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="main-header">
        <div class="top-headear">
            <div class="logo">
                <img class="img-logo" src="/img/logo-mercado-liebre.svg" alt="Imagen de MercadoLiebre">
            </div>

            <div class="barra-busqueda" action="#" method="GET">

                <input type="text" class="input" placeholder="Buscar productos, marcas y más">
                <button class="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>            

        </div>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>
            <ul>
                <li><a href="/register">Crear cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis cuentas</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>

        </div>
    </header>

    <main class="login">
        <form class="formulario" action="/login" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <button class="submit" type="submit">Enviar</button>
        </form>
    </main>
    </form>

    <footer id="footer-login">
        <div class="footer1">
            <div class="caja1">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="caja2">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="caja3">
                <i class="fas fa-user-lock"></i>
                <h3>Seguridad, de principio a fin</h3>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>


    </footer>



</body>






















</body>